
{% extends 'main.html' %}

{% block content %}

    <h1>usuwanie kategorii</h1>

    {% if error%}
        {{error}}
    {% else  %}
        <p>Czy na pewno chcesz usunąć kategorie?</p>
            <form action="./{{category.id}}" method="post" autocomplete="off">
                {% csrf_token %}
                <button type="submit" name="ACTION" value="{{ACTION}}">Usuń</button>
            </form>
        {% include "category/category_show_template.html" with category=category %}
    {% endif %}

{% endblock content %}
