{% extends 'main.html' %} {% block content %}
<main class="main">
	<div class="main-login">
		<h1 class="title">Wprowadź nowe hasło</h1>
		<form method="POST" action="" class="form-new_password" autocomplete="off">
			{% csrf_token %}
            {% for field in form %}

			<div class="form__div-register">
				<span class="form-label">{{ field.label_tag }} </span>
				<span class="register-input">{{ field }}</span>
			</div>{% for error in field.errors %}
			<p style="color: red">{{error}}</p>
			{% endfor %}</p> {% endfor %} 
			<input
				type="submit"
				value="Zresetuj hasło"
				class="form-button form-button-reset"
			/>
		</form>
	</div>
</main>
{% endblock %}
