<h3>Register</h3>
{% block content %}
<form method="POST" action="">
    {% csrf_token %}
    {% for field in form %}
    <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
           <smal style = "display:none">{{ field.help_text }}</smal>
        {% endif %}
        {% for error in field.errors %}
            <p style = "color: red"> {{error}}</p>
        {% endfor %}
    </p>
    {% endfor %}
    <input type="submit" value="Sing Up">
    <div class='d-flex justify-content-center links'>
        <br><br>
        Already have an account? <a href="{% url 'login' %}" }
                                    class="ml-2">Log in</a>

    </div>

</form>
{% endblock %}