<div class="recipe-show">
	<div class="show-top">
		<div class="show-top-left">
			<div class="show-tags">
				{% for tag in recipe.tags_list %}
				<div class="show-tag">{{tag.title}}</div>
				{% endfor %}
			</div>
			<h3 class="show-title">{{recipe.title}}</h3>
            <div class="show-time">
                {{recipe.cooking_time}} minut
            </div>
		</div>
		<div class="show-top-right">
            {% for category in recipe.categories_list %}
            <div class="show-category">{{category.title}}</div>
        {% endfor %}
        </div>
	</div>
	<div class="show-mid">
        <div class="show-mid-backgorund">
            <div class="mid-image">
                <img src="{{ recipe.image.image.url }}" alt="stage"/>
            </div>
            <div class="show-ingredients">
                <ul class="ingredients-list">
                    <h3 class="title-show">Składniki:</h3>
                    {% for stage in recipe.stages_list %}
                        {% for ingredient in stage.ingredients_extended_list %}
                            <li class="ingredient-element">
                                {{ingredient.amount}}
                                {{ingredient.unit}}
                                {{ingredient.title}}
                            </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
                <div class="show-steps">
                    {% for stage in recipe.stages_list %}
                    <div class="show-step">
                        <div class="stage-title">
                        Etap {{forloop.counter}}
                        </div>
                        <div class="show-time-step">
                            {{stage.cooking_time}} minut
                        </div>
                        <div class="stage-description">
                        {{stage.description}}
                    </div>
                        <div class="stage-image">
                        <img src="{{ stage.image.image.url }}" alt="stage"/>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            
        </div>
    </div>
        <div class="show-bot">
            {% if user.is_authenticated and user.id == recipe.author.id %}
                <a href="{% url 'recipe_update' id=recipe.id %}" class="show-back">Edytuj</a>
                <a href="{% url 'recipe_delete' id=recipe.id %}" class="show-back">Usuń</a>
            {% endif %}
            <a href="{% url 'home' %}" class="show-back">Powrót</a>
		</div>
	<!-- <hr>
    <h1>Przepis</h1>
    <p>recipe id {{recipe.id}}</p>
    <p>cooking_time: {{recipe.cooking_time}}</p>
    <p>image:<img src="{{ recipe.image.image.url }}" height="100px" alt="stage"/></p>
    <h2>Stagees</h2>
    {{recipe.stages_list}}
    <div>
        <hr>
        {% for stage in recipe.stages_list %}
        <div>
            <h3>stage id {{stage.id}}</h3>
            <p>order: {{stage.order}}</p>
            <p>description: {{stage.description}}</p>
            <p>cooking_time: {{stage.cooking_time}}</p>
            <p>image:<img src="{{ stage.image.image.url }}" height="100px" alt="stage"/></p>
            <h4>Ingredients</h4>
            {{ingredients_extend_list}}
            <div>
                {% for ingredient in stage.ingredients_extended_list %}
                <div>
                    <h4>skladnik id {{ingredient.id}}</h4>
                    <p>name: {{ingredient.title}}</p>
                    <p>unit: {{ingredient.unit}}</p>
                    <p>amount: {{ingredient.amount}}</p>
                    <p>is_required: {{ingredient.is_required}}</p>
                </div>
                {% endfor %}
            </div>
            <hr/>
        </div>
        {% endfor %}
    </div>
    <h3>Kategorie</h3>
    {{recipe.categories_list}}
    <div>
        {% for category in recipe.categories_list %}
            <p>nazwa: {{category.title}}</p>
        {% endfor %}
    </div>
    <h3>Tagi</h3>
    {{recipe.tags_list}}
    <div>
        {% for tag in recipe.tags_list %}
            <p>nazwa: {{tag.title}}</p>
        {% endfor %}
    </div>
    <hr> -->
</div>
