<div>
    ACTION:{{ACTION}}
    <hr/>
    error:{{error}}
    <hr/>
    <form action="./" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        categorie
        <div>
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            <label for="vehicle1"> I have a bike</label><br>
        </div>
        tagi
        <hr/>
        recipe_id <input type="text" name="recipe_id" value="{{recipe_id}}">
        ACTION: <input type="text" name="ACTION" value="{{ACTION}}">
        <button type="submit" name="{{RECIPE_FORM_STATE}}" value="{{RECIPE_FORM_STATE_LAST}}">RECIPE_FORM_STATE_LAST</button>
    </form>
</div>