<div>
    ACTION:{{ACTION}}
    <hr/>
    error:{{error}}
    <hr/>
    <form action="./" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        categorie
        <div>
            {% for category in categories_list %}
            {{category}}
                <input type="checkbox"
                       id="category_id_{{category.id}}"
                       name="category_id_{{category.id}}"
                       value="{{category.id}}"
                       {% if category.is_checked %} checked {% endif%}
                >
                <label for="category_id_{{category.id}}">{{category.title}}</label><br>
            {% endfor %}
        </div>
        <hr/>
        tagi
        <div>
            {% for tag in tags_list %}
            {{category}}
                <input type="checkbox"
                       id="tag_id_{{category.id}}"
                       name="tag_id_{{tag.id}}"
                       value="{{tag.id}}"
                       {% if tag.is_checked %} checked {% endif%}
                >
                <label for="tag_id_{{category.id}}">{{tag.title}}</label><br>
            {% endfor %}
        </div>
        <hr/>
        NUMBER_OF_CATEGORIES <input type="number" name="NUMBER_OF_CATEGORIES" value="{{NUMBER_OF_CATEGORIES}}">
        NUMBER_OF_TAGS <input type="number" name="NUMBER_OF_TAGS" value="{{NUMBER_OF_TAGS}}">
        recipe_id <input type="number" name="recipe_id" value="{{recipe_id}}">
        ACTION: <input type="text" name="ACTION" value="{{ACTION}}">
        <button type="submit" name="{{RECIPE_FORM_STATE}}" value="{{RECIPE_FORM_STATE_LAST}}">RECIPE_FORM_STATE_LAST</button>
    </form>
</div>