<style>
    .my_hidden{
        display:none
    }
    .dont_touch{
        color:red
    }
    .dont_touch::before {
	    content: "TEGO NIE POWINNO BYĆ WIDAĆ";
	}

    .autocomplete-title {
      position: relative;
      display: inline-block;
    }

    .autocomplete-title input {
      border: 1px solid transparent;
      background-color: #f1f1f1;
    }

    .autocomplete-title input[type=text] {
      background-color: #f1f1f1;
    }

    .autocomplete-title input[type=submit] {
      background-color: DodgerBlue;
      color: #fff;
      cursor: pointer;
    }

    .autocomplete-title .autocomplete-items-title {
      position: absolute;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      /*position the autocomplete items to be the same width as the container:*/
      top: 100%;
      left: 0;
      right: 0;
    }

    .autocomplete-title .autocomplete-items-title div {
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid #d4d4d4;
    }

    .autocomplete-title .autocomplete-items-title div:hover {
      background-color: #e9e9e9;
    }

    .autocomplete-title .autocomplete-active-title {
      background-color: DodgerBlue !important;
      color: #ffffff;
    }



    .autocomplete-unit {
      position: relative;
      display: inline-block;
    }

    .autocomplete-unit input {
      border: 1px solid transparent;
      background-color: #f1f1f1;
    }

    .autocomplete-unit input[type=text] {
      background-color: #f1f1f1;
    }

    .autocomplete-unit input[type=submit] {
      background-color: DodgerBlue;
      color: #fff;
      cursor: pointer;
    }

    .autocomplete-unit .autocomplete-items-unit {
      position: absolute;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      /*position the autocomplete items to be the same width as the container:*/
      top: 100%;
      left: 0;
      right: 0;
    }

    .autocomplete-unit .autocomplete-items-unit div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid #d4d4d4;
    }

    .autocomplete-unit .autocomplete-items-unit div:hover {
      background-color: #e9e9e9;
    }

    .autocomplete-unit .autocomplete-active-unit {
      background-color: DodgerBlue !important;
      color: #ffffff;
    }
</style>

    <form action="./{{id}}" method="post" enctype="multipart/form-data" autocomplete="off"  class="form-recipe">
        {% csrf_token %}
        <div class="step2-row1">
          <div class="step2-row1-col1">
            <div class="col1-top">
            <h3 class="title-second recipe-title-second">Czas trwania:</h3>
            <input class="recipe-input" placeholder="[00:00]" type="number" name="cooking_time" value="{{stage.cooking_time}}">
          </div>
          <div class="col1-bot">
              <div class="col1-top col1-top-inner">
              <h3 class="title-second recipe-title-second">Skladniki:</h3>
              <button id="add-ingredient-btn" type="button" class="recipe-btn recipe-btn-color recipe-btn-size2">Dodaj składnik</button>
            </div>
            <div class="col1-bot col1-bot-inner">
              {% for ingredient in ingredients_extended_list %}
                  <div id="ingredient-form-{{forloop.counter0}}" class="my_hidden">
                      <div class="autocomplete-title" style="width:300px;">
                          tytył:<input type="text"
                                       id="ingredient_title_{{forloop.counter0}}"
                                       name="ingredient_title_{{forloop.counter0}}"
                                       value="{{ingredient.title}}">
                      </div>
                      ilosc:<input type="number" name="ingredient_amount_{{forloop.counter0}}" value={{ingredient.amount}}>
                      <div class="autocomplete-unit" style="width:300px;">
                          jednostak:<input type="text"
                                           id="ingredient_unit_{{forloop.counter0}}"
                                           name="ingredient_unit_{{forloop.counter0}}"
                                           value="{{ingredient.unit}}">
                      </div>
                      wymagany:<input type="checkbox" name="ingredient_is_required_{{forloop.counter0}}"
                                      {% if ingredient.is_required %} checked {% endif%}>
                      <div class="my_hidden dont_touch"> id:<input type="number" name="ingredient_id_{{forloop.counter0}}" value={{ingredient.id}}></div>
                  </div>
              {% endfor %}
              {% for index in number_of_ingredients_range %}
                  <div id="ingredient-form-{{index}}" class="my_hidden ingredient-box">
                      <div class="autocomplete-title">
                        <div class="pool">
                        <h3 class="ingredient-name">Tytuł:</h3>
                          <input class="ingredient-input" type="text"
                                       id="ingredient_title_{{index}}"
                                       name="ingredient_title_{{index}}"
                                       value="">
                        </div>
                      </div>
                      <div class="pool">
                      <h3 class="ingredient-name">Ilość:</h3>
                      <input class="ingredient-input" type="number" name="ingredient_amount_{{index}}" value="">
                    </div>
                      <div class="autocomplete-unit">
                       <div class="pool">
                      <h3 class="ingredient-name">Jednostka:</h3>
                      <input class="ingredient-input" type="text"
                                           id="ingredient_unit_{{index}}"
                                           name="ingredient_unit_{{index}}"
                                           value="">
                      </div>
                    </div>
                    <div class="pool">
                      <h3 class="ingredient-name">Wymagany:</h3><input type="checkbox" name="ingredient_is_required_{{index}}">
                      <div class="my_hidden dont_touch"> id:<input type="number" name="ingredient_id_{{index}}" value="0"></div>
                      </div>
                  </div>
              {% endfor %}
  
             
          </div>
          <div class="my_hidden dont_touch">
              stage_id <input type="number" name="stage_id" value="{{stage_id}}">
              order <input type="number" name="order" value="{{order}}">
              recipe_id <input type="text" name="recipe_id" value="{{recipe_id}}">
              ACTION: <input type="text" name="ACTION" value="{{ACTION}}">
          </div>
          </div>
        </div>
          <div class="step2-row1-col2">
            <h3 class="title-second recipe-title-second">Opis:</h3>
            <input class="recipe-discribe" type="text" name="description" value="{{stage.description}}">

            <h3 class="title-second recipe-title-second">Zdjęcie:</h3>
                <label class="picture">
                <input type="file" name="image" value="{{stage.image}}" accept="image/*">
                <i class="fa-solid fa-image"></i>
                </label>
          </div>
          <!-- cooking_time:<input type="number" name="cooking_time" value="{{stage.cooking_time}}">
        description:<input type="text" name="description" value="{{stage.description}}">
        image:<input type="file" name="image" value="{{stage.image}}" accept="image/*">

        <div>
            <h3>skladniki</h3>
            {% for ingredient in ingredients_extended_list %}
                <div id="ingredient-form-{{forloop.counter0}}" class="my_hidden">
                    <div class="autocomplete-title" style="width:300px;">
                        tytył:<input type="text"
                                     id="ingredient_title_{{forloop.counter0}}"
                                     name="ingredient_title_{{forloop.counter0}}"
                                     value="{{ingredient.title}}">
                    </div>
                    ilosc:<input type="number" name="ingredient_amount_{{forloop.counter0}}" value={{ingredient.amount}}>
                    <div class="autocomplete-unit" style="width:300px;">
                        jednostak:<input type="text"
                                         id="ingredient_unit_{{forloop.counter0}}"
                                         name="ingredient_unit_{{forloop.counter0}}"
                                         value="{{ingredient.unit}}">
                    </div>
                    wymagany:<input type="checkbox" name="ingredient_is_required_{{forloop.counter0}}"
                                    {% if ingredient.is_required %} checked {% endif%}>
                    <div class="my_hidden dont_touch"> id:<input type="number" name="ingredient_id_{{forloop.counter0}}" value={{ingredient.id}}></div>
                </div>
            {% endfor %}
            {% for index in number_of_ingredients_range %}
                <div id="ingredient-form-{{index}}" class="my_hidden">
                    <div class="autocomplete-title" style="width:300px;">
                        tytył:<input type="text"
                                     id="ingredient_title_{{index}}"
                                     name="ingredient_title_{{index}}"
                                     value="">
                    </div>
                    ilosc:<input type="number" name="ingredient_amount_{{index}}" value="">
                    <div class="autocomplete-unit" style="width:300px;">
                        jednostak:<input type="text"
                                         id="ingredient_unit_{{index}}"
                                         name="ingredient_unit_{{index}}"
                                         value="">
                    </div>

                    wymagany:<input type="checkbox" name="ingredient_is_required_{{index}}">
                    <div class="my_hidden dont_touch"> id:<input type="number" name="ingredient_id_{{index}}" value="0"></div>
                </div>
            {% endfor %}

            <button id="add-ingredient-btn" type="button">Dodaj składnik</button>
        </div>
        <div class="my_hidden dont_touch">
            stage_id <input type="number" name="stage_id" value="{{stage_id}}">
            order <input type="number" name="order" value="{{order}}">
            recipe_id <input type="text" name="recipe_id" value="{{recipe_id}}">
            ACTION: <input type="text" name="ACTION" value="{{ACTION}}">
        </div>
        <hr>-->
      </div> 
      <div class="step2-row2">
        <button type="submit" name="{{RECIPE_FORM_STATE}}" value="{{RECIPE_FORM_STATE_STAGE}}" class="recipe-btn recipe-btn-color">Dodaj etap</button>
        <button type="submit" name="{{RECIPE_FORM_STATE}}" value="{{RECIPE_FORM_STATE_LAST_STAGE}}" class="recipe-btn recipe-btn-size">Dalej</button>
      </div>
    </form>
    {% if error %}<div class="error-info"> Błędne dane</div>{% endif %}
<script>
var number_of_fields_max=5
function autocompleteForTitle(inp, arr) {
  var currentFocus;
  fun = function(e) {
      var a, b, i, val = this.value;
      closeAllLists();
      if (!val) { val="";}
      currentFocus = -1;
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list-title");
      a.setAttribute("class", "autocomplete-items-title");
      this.parentNode.appendChild(a);
      var number_of_fields=0
      for (i = 0; i < arr.length; i++) {
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase() || val=="" ) {
            number_of_fields=number_of_fields+1
            if(number_of_fields>=number_of_fields_max){break}
          b = document.createElement("DIV");
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          b.addEventListener("click", function(e) {
              inp.value = this.getElementsByTagName("input")[0].value;
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  }
  inp.addEventListener("input", fun);
  inp.addEventListener("click", fun);
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list-title");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        currentFocus++;
        addActive(x);
      } else if (e.keyCode == 38) {
        currentFocus--;
        addActive(x);
      } else if (e.keyCode == 13) {
        e.preventDefault();
        if (currentFocus > -1) {
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    if (!x) return false;
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    x[currentFocus].classList.add("autocomplete-active-title");
  }
  function removeActive(x) {
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active-title");
    }
  }
  function closeAllLists(elmnt) {
    var x = document.getElementsByClassName("autocomplete-items-title");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  },true);
}
//=================================================================================================================
function autocompleteForUnit(inp, arr) {
  var currentFocus;
  fun = function(e) {
      var a, b, i, val = this.value;
      closeAllLists();
      if (!val) { val="";}
      currentFocus = -1;
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list-unit");
      a.setAttribute("class", "autocomplete-items-unit");
      this.parentNode.appendChild(a);
      var number_of_fields=0
      for (i = 0; i < arr.length; i++) {
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase() || val=="" ) {
            number_of_fields=number_of_fields+1
            if(number_of_fields>=number_of_fields_max){break}
          b = document.createElement("DIV");
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          b.addEventListener("click", function(e) {
              inp.value = this.getElementsByTagName("input")[0].value;
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  }
  inp.addEventListener("input", fun);
  inp.addEventListener("click", fun);
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list-unit");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        currentFocus++;
        addActive(x);
      } else if (e.keyCode == 38) {
        currentFocus--;
        addActive(x);
      } else if (e.keyCode == 13) {
        e.preventDefault();
        if (currentFocus > -1) {
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    if (!x) return false;
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    x[currentFocus].classList.add("autocomplete-active-unit");
  }
  function removeActive(x) {
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active-title");
    }
  }
  function closeAllLists(elmnt) {
    var x = document.getElementsByClassName("autocomplete-items-unit");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  },true);
}
//=================================================================================================================
var ingredients_list_to_autocomplete={{ingredients_list_to_autocomplete|safe }}
var titles_arr=[]
var units_arr=[]
ingredients_list_to_autocomplete.forEach((item, index) =>{
        titles_arr[index]=item.title
        units_arr[index]=item.unit
    }
)
console.log(titles_arr)
console.log(units_arr)
//=================================================================================================================


for (var i = 0; i < {{number_of_ingredients_max}}; i++) {
    autocompleteForTitle(document.getElementById(`ingredient_title_${i}`), titles_arr);
    document.getElementById(`ingredient_unit_${i}`).addEventListener('focus',changeUnits)
}

function changeUnits(event){
    var id = event.target.id.split('_')[2]
    var value = document.getElementById(`ingredient_title_${id}`).value

    if(value != ''){
        new_array=[]
        titles_arr.forEach((item, index) =>{
            if(item.toLowerCase().includes(value.toLowerCase())){
                if(!new_array.includes(units_arr[index])){
                    new_array.push(units_arr[index])
                }
            }
        })
        autocompleteForUnit(document.getElementById(`ingredient_unit_${id}`), new_array);
    }

}
</script>
<script>
    const addIngredientBtn = document.getElementById('add-ingredient-btn')
    var numberOfIngrednients = 0
    const numberOfIngrednientsMax = {{number_of_ingredients_max}}

    addIngredientBtn.addEventListener('click',add_new_ingredient_form)
    for (var i = 0; i < {{ingredients_extended_list_length}}; i++) {
        add_new_ingredient_form(null);
    }
    function add_new_ingredient_form(event){
        if(event){
            event.preventDefault()
        }
        if(numberOfIngrednients<numberOfIngrednientsMax){


            const element = document.getElementById(`ingredient-form-${numberOfIngrednients}`)
            element.classList.remove("my_hidden");
            numberOfIngrednients=numberOfIngrednients+1
        }
    }
</script>