<style>
    .hidden{
        display:none
    }


</style>
<div>

    ACTION:{{ACTION}}
    <hr/>
    error:{{error}}
    <hr/>
    <form action="./{{id}}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        cooking_time:<input type="number" name="cooking_time" value="{{stage.cooking_time}}">
        description:<input type="text" name="description" value="{{stage.description}}">
        image:<input type="file" name="image" value="{{stage.image}}" accept="image/*">

        <div>
            <h3>skladniki</h3>
            --{{ingredients_extended_list}}--
            {% for ingredient in ingredients_extended_list %}
                <div id="ingredient-form-{{forloop.counter0}}" class="hidden">
                    <h4>--skladnik {{forloop.counter0}}</h4>
                    id:<input type="number" name="ingredient_id_{{forloop.counter0}}" value={{ingredient.id}}>
                    tytył:<input type="text" name="ingredient_title_{{forloop.counter0}}" value="{{ingredient.title}}">
                    ilosc:<input type="number" name="ingredient_amount_{{forloop.counter0}}" value={{ingredient.amount}}>
                    jednostak:<input type="text" name="ingredient_unit_{{forloop.counter0}}" value="{{ingredient.unit}}">
                    wymagany:<input type="checkbox" name="ingredient_is_required_{{forloop.counter0}}"
                                    {% if ingredient.is_required %} checked {% endif%}>
                </div>
            {% endfor %}
            -----------------------------
            {% for index in numberOfIngredientsRange %}
                <div id="ingredient-form-{{index}}" class="hidden">
                    <h4>skladnik {{index}}</h4>
                    id:<input type="number" name="ingredient_id_{{index}}" value="0">
                    tytył:<input type="text" name="ingredient_title_{{index}}" value="">
                    ilosc:<input type="number" name="ingredient_amount_{{index}}" value="">
                    jednostak:<input type="text" name="ingredient_unit_{{index}}" value="">
                    wymagany:<input type="checkbox" name="ingredient_is_required_{{index}}">
                </div>
            {% endfor %}

            <button id="add-ingredient-btn" type="button">Dodaj składnik</button>
        </div>
        <hr/>
        stage_id <input type="number" name="stage_id" value="{{stage_id}}">
        order <input type="number" name="order" value="{{order}}">
        recipe_id <input type="text" name="recipe_id" value="{{recipe_id}}">
        ACTION: <input type="text" name="ACTION" value="{{ACTION}}">
        <button type="submit" name="{{RECIPE_FORM_STATE}}" value="{{RECIPE_FORM_STATE_STAGE}}">Dodaj etap</button>
        <button type="submit" name="{{RECIPE_FORM_STATE}}" value="{{RECIPE_FORM_STATE_LAST_STAGE}}">Zapisz</button>
    </form>
</div>
<script>

    const addIngredientBtn = document.getElementById('add-ingredient-btn')
    var numberOfIngrednients = 0
    const numberOfIngrednientsMax = {{numberOfIngredientsMax}}

    addIngredientBtn.addEventListener('click',add_new_ingredient_form)
    for (var i = 0; i < {{ingredients_extended_list_length}}; i++) {
        add_new_ingredient_form(null);
    }
    function add_new_ingredient_form(event){
        if(event){
            event.preventDefault()
        }
        if(numberOfIngrednients<numberOfIngrednientsMax){


            const element = document.getElementById(`ingredient-form-${numberOfIngrednients}`)
            element.classList.remove("hidden");
            numberOfIngrednients=numberOfIngrednients+1
        }
    }


</script>