<div>
    ACTION:{{ACTION}}
    <hr/>
    error:{{error}}
    <hr/>

    <form action="./{{recipe_id}}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        title:<input type="text" name="title" value="{{recipe.title}}">
        cooking_time:<input type="number" name="cooking_time" value="{{recipe.cooking_time}}">
        image:<input type="file" name="image" value="{{recipe.image}}" accept="image/*">
        ACTION: <input type="text" name="ACTION" value="{{ACTION}}">
        <button type="submit" name="{{RECIPE_FORM_STATE}}" value="{{RECIPE_FORM_STATE_FIRST}}">RECIPE_FORM_STATE_FIRST</button>
    </form>
</div>