{% extends 'main.html' %}

{% block content %}
<style>
    .hidden{
        display:none
    }
</style>

<h1>drugi stopień</h1>

<div>

    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>id: {{recipe.id}}<input type="number" class="hidden" name="recipe_id" value="{{recipe.id}}"></p>
        {% for field in form %}
        {{ field.errors }}
        {{ field.label_tag }}
        {{ field }}

         {% endfor %}

        <h3>skladniki</h3>
        <div id="management_form" class="hidden">{{ formset.management_form }}</div>
        <div id="empty-form" class="hidden ingredient-form"><h4>skladnik</h4>{{formset.empty_form}}</div>

        <div id="ingredients-list">
             <div class='ingredient-form'>

             </div>

        </div>

        <button id="add-more" type=""button>Dodaj składnik</button>
        <button type="submit" name="ACTION" value="STAGE">Dodaj etap</button>
        <button type="submit" name="ACTION" value="LAST_STAGE">Dalej</button>
    </form>
</div>
<script>

    const addMoreBtn = document.getElementById('add-more')
    const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')
    totalNewForms.setAttribute('value', 1)
    addMoreBtn.addEventListener('click',add_new_form)

    function add_new_form(event){
        if(event){
            event.preventDefault()
        }

        const currentIngredientForms = document.getElementsByClassName('ingredient-form')
        let currentFormCount = currentIngredientForms.length
        const formCopyTarget = document.getElementById('ingredients-list')
        const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
        console.log(currentFormCount)
        copyEmptyFormEl.setAttribute('class', 'ingredient-form')
        copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)
        const regex = create_and_save RegExp('__prefix__', 'g')
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex,currentFormCount)
        totalNewForms.setAttribute('value', currentFormCount)
        formCopyTarget.append(copyEmptyFormEl)


    }
</script>

{% endblock content %}
