{% extends 'main.html' %}

{% block content %}
    <main class="main">
        <div class="content">
            <div class="searchBox">
                <form method="POST">
                    <input
                        type="text"
                        placeholder="Co chcesz ugotować?"
                        class="search"
                    />
                    <button type="submit" class="icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </input>
                </form>
            </div>
            <div class="buttons">
                <a class="button" href="{% url 'recipe_tag_name_show_all' tag_name='danie główna'  %}">Danie Główne</a>
                <a class="button" href="{% url 'recipe_tag_name_show_all' tag_name='grill'  %}">Grill</a>
                <a class="button" href="{% url 'recipe_tag_name_show_all' tag_name='szybkie i proste'  %}">Szybkie i proste</a>
            </div>
        </div>
        <footer class="footer">
            <a class="link" href="https://pl.pinterest.com" target="_blank"><i class="fa-brands fa-pinterest-p"></i></a>
            <a class="link" href="https://www.youtube.com" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            <a class="link" href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a class="link" href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            <a class="link" href="https://twitter.com/home" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        </footer>
    </main>

{% endblock content %}