{% comment %} template: - load static files such as images, JavaScript, etc.
parameters: - page_title - specifies the title of the page. The default value is
"Pancakes". blocks: - content - main block {% endcomment %} {% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ page_title | default:"Przepiśnik" }}</title>

		<script
			src="https://kit.fontawesome.com/f9c4afc40c.js"
			crossorigin="anonymous"
		></script>
		<link
			rel="stylesheet"
			href="https://unpkg.com/@tabler/icons@latest/iconfont/tabler-icons.min.css"
		/>

		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'css/style.css' %}"
		/>
		<link
			rel="shortcut icon"
			type="image/png"
			href="{% static 'img/Hmph.ico' %}"
		/>
	</head>
	<body>
		<div class="layer">
			<header class="header-desktop">
				<div class="header-up">
					<a href="{% url 'home' %}">
					<div class="header__img">
					</div>
				</a>
				</div>
				<div class="header-down">
					<nav class="navigation navigation-not-logged">
						<div class="link-one link-one-other link-one-not-logged">
							<div class="panel-one">
								<div class="panel-icon"><i class="fa-solid fa-utensils"></i></div>
								<div class="panel-text">przepisy</div>
							</div>
							<ul class="dropdown">
								<li><a href="{% url 'recipe_show_all' %}">Wszystkie przepisy</a></li>
								<li><a href="#">Posiłek</a></li>
								<li><a href="#">Kuchnie świata</a></li>
								<li><a href="#">Okazje</a></li>
								<li><a href="#">Rodzaj diety</a></li>
								<li class="second-dropdown">
									Inne
									<ul class="sec-dropdown">
										<li><a href="#">Dla dzieci</a></li>
										<li><a href="#">Szybkie i proste</a></li>
										<li><a href="#">Tanio</a></li>
									</ul>
								</li>
							</ul>
						</div>
						{% if user.is_authenticated %}
						<a class="link-two" href="{% url 'recipe_create' %}">
							<div class="panel-two">
								<div class="panel-icon panel-icon-two">
									<i class="fa-solid fa-plus"></i>
								</div>
								<div class="panel-text panel-text-two">dodaj przepis</div>
							</div>
						</a>

						<a class="link-one link-one-other2" href="#">
							<div class="panel-one">
								<div class="panel-icon"><i class="ti ti-fridge"></i></div>
								<div class="panel-text">
									co masz <br />
									w lodówce?
								</div>
							</div>
						</a>
						{% endif %}
						<a class="link-one link-one-not-logged" href="#">
							<div class="panel-one">
								<div class="panel-icon"><i class="fa-solid fa-comments"></i></div>
								<div class="panel-text">forum</div>
							</div>
						</a>
						{% if user.is_authenticated %}
						<a class="link-two" href="#">
							<div class="panel-two">
								<div class="panel-icon panel-icon-two">
									<i class="fa-solid fa-plus"></i>
								</div>
								<div class="panel-text panel-text-two">zadaj pytanie</div>
							</div>
						</a>
						{% endif %}
						<div class="link-one link-one-other link-one-not-logged">
							{% if user.is_authenticated %}
							<div class="panel-one">
								<div class="panel-icon"><i class="fa-solid fa-user-check"></i></div>
								<div class="panel-text">panel użytkownika</div>
							</div>
							<ul class="dropdown">
								<li class="profile-l">
									<a href="{% url 'login' %}">Profil</a>
								</li>
								<li class="profile-l">
									<a href="{% url 'logout' %}">Wyloguj się</a>
								</li>
							</ul>
							{% else %}
							<div class="panel-one">
								<div class="panel-icon"><i class="fa-solid fa-user-lock"></i></div>
								<div class="panel-text">panel użytkownika</div>
							</div>
							<ul class="dropdown">
								<li class="profile-ul">
									<a href="{% url 'login' %}">Zaloguj się</a>
								</li>
								<li class="profile-ul">
									<a href="{% url 'register' %}">Zarejestuj się</a>
								</li>
							</ul>
							
							{% endif %}
						</div>
					</nav>
				</div>
			</header>
			{% block content %} {% endblock content %}
		</div>

		<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>
