{% comment %}

    template:
        - load static files such as images, JavaScript, etc.

    parameters:
        - page_title - specifies the title of the page. The default value is "Pancakes".

    blocks:
        - content - main block

{% endcomment %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/Hmph.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}"/>
    <title>{{ page_title | default:"Pancakes" }}</title>
</head>
<body>
    <a href="/ingredient">Składniki</a>
    <a href="/ingredient/2">Składnik/2</a>
    <a href="/ingredient_form">Składniki form</a>
    {% block content %}
    {% endblock content %}
</body>
</html>