
{% extends 'main.html' %}

{% block content %}
    <main class="main">
        <div class="main-login">
            {% if error%}
                <p class="info">{{error}}</p>
                <p><a href="{% url 'home'  %}" class="btn btn-outline-primary comeback">Wróć do strony głównej</a></p>
            {% else  %}
            <form action="./{{tag.id}}" class="form-delete" method="post" autocomplete="off" >
                {% csrf_token %}
                <p class="info">Czy na pewno chcesz usunąć tag?</p>
                <button type="submit" name="ACTION" value="{{ACTION}}" class="btn btn-danger btn-delete">Usuń</button>
            </form>
            <br><p class="info">Chcę zatrzymać tag</p>
            <p><a href="{% url 'tag_show' id=tag.id %}" class="btn btn-outline-primary comeback">Wróć do tagów</a></p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
