<h3>LOGIN</h3>

<form method="POST" action="">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username..." class="form-control">
    <br><br>
    <input type="password" name="password" placeholder="Password..." class="form-control">
    <br><br>
    <input type="submit" value="Log In">
    {% for message in messages%}
    <p id="messages"> {{message}}</p>
    {% endfor %}
    <br><br>
    Don`t have an account ? <a href="{% url 'register' %}" }
                               class="ml-2">Sign up</a>

</form>