{% extends 'main.html' %} {% block content %}
<main class="main">
	<div class="main-login">
		<h1 class="title">Zaloguj się</h1>
		<h3 class="title-second">Przejdź do konta użytkownika</h3>
		<form method="POST" action="" class="form-login" autocomplete="off">
			{% csrf_token %}
			<div class="form__div">
				<input
					type="text"
					name="username"
					class="form-control login-input"
					autocomplete="off"
				/>
				<label for="" class="form-label">Username</label>
			</div>
			<div class="form__div">
				<input
					type="password"
					name="password"
					class="form-control login-input"
					autocomplete="off"
				/>
				<label for="" class="form-label">Password</label>
			</div>
			<input
				type="submit"
				value="Zaloguj się"
				class="form-button form-button-login"
			/>
			{% for message in messages%}
			<p id="messages" class="message">{{message}}</p>
			{% endfor %}
			<div class="buttons-login">
				<div class="btn-login"><a href="{% url 'reset_password' %}">Odzyskiwanie hasła</a></div>
				<div class="btn-login">
					<a href="{% url 'register' %}" class="ml-2">Zarejestuj się</a>
				</div>
			</div>
		</form>
	</div>
</main>

{% endblock content %}
