<span>You are logged in,</span>

{% block user-profile %}
<div>
    <br>
    <img class="rounded-circle account-img" src="{{ user.userprofile.profile_pic.url }}">
    <p>Username: {{ user }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Bio: {{ user.userprofile.bio }}</p>
    <p><a href = "{{ user.userprofile.facebook_link }}">Facebook</a></p>
    <p><a href = "{{ user.userprofile.twitter_link }}">Twitter</a></p>
    <p><a href = "{{ user.userprofile.instagram_link }}">Instagram</a></p>
    <p><a href = "{{ user.userprofile.youtube_link }}">Youtube</a></p>
    <br>
</div>
{% endblock%}

{% block logout %}
<span><a href="{% url 'logout' %}"><br><br>Logout</a></span>
{%endblock logout %}

{% block delete-user %}
<br>
<br>
<br>
<a href="{% url 'delete_user' request.user.pk%}">DELETE YOUR ACCOUNT</a>
<br>
<br>
<br>
<a href="{% url 'edit_user'%}">UPDATE YOUR ACCOUNT</a>

{% endblock delete-user %}