{% extends 'main.html' %} {% block content %}
<main class="main">
	<div class="main-login">
		<h1 class="title">Wprowadź nowe hasło</h1>
		<form method="POST" action="{% url 'change_password' %}" class="form-register" autocomplete="off">
			{% csrf_token %}

			{% for error in field.non_field_errors %}
			<div class = "alert alert-danger">
				{{ error }}
			</div>
			{% endfor %}
            {% for field in form %}

			<div class="form__div-register">
				<span class="form-label">{{ field.label_tag }} </span>
				<span class="register-input">{{ field }}</span>
			</div>
				{% if field.errors %}
			<div class = "alert alert-danger">
				{{ error }}
			</div>
				{% endif %}
			{% endfor %}
			<input
				type="submit"
				value="Zmien hasło"
				class="form-button form-button-reset"
			/>
		</form>
	</div>
</main>
{% endblock %}
