{% extends 'home.html' %}


{% block title %}User Account Delete{% endblock title %}

{% block delete-header %}

{% endblock delete-header %}

{% block content %}
<main class="main">
    <div class="main-login">
    <form method="post" class="form-delete">
        {% csrf_token %}
        <p class="info">Czy na pewno chcesz usunąć konto?</p>
        <button type="submit" class="btn btn-danger btn-delete">Usuń</button>
    </form>
    <br><p class="info">Chcę zatrzymać konto</p>
    <p><a href="{% url 'user' %}" class="btn btn-outline-primary comeback">Profil</a></p>
    </div>
</main>
{% endblock content %}