{%  extends 'home.html' %}
{% block content %}
<main class="main">
    <div class="main-login">
        <a class="btn btn-warning title-modifi" href="{% url 'user' %}"> &#8592; Wróć do profilu</a>
        <h3 class="title-second">Ustawienia konta</h3>
            <div class="card card-body">
                <img class="profile-pic avatar2" src="{{request.user.userprofile.profile_pic.url}}">
            </div>
    
                <form method="POST" action="" enctype="multipart/form-data" class="form-register2" autocomplete="off">
                    {% csrf_token %}
                    <div class="forms">
                        <div class="form">
                    {{profile_form.as_p}}</div>
                    <div class="form"> {{user_form.as_p}}</div>
                </div>
    
                    <input class="btn btn-primary modifi-btn" type="submit" name="Update Information">
                </form>
    </div>
</main>
<!-- <style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}

</style>

<br>
<div class="row">
    <div class="col-md-3">
        <div class="card card-body">
            <a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to Profile</a>
            <hr>
            <h3 style="text-align: center">Account Settings</h3>
            <hr>
            <img class="profile-pic" src="{{request.user.userprofile.profile_pic.url}}">

        </div>
    </div>
    <div class="col-md-9">
        <div class="card card-body">

            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{profile_form.as_p}}
                {{user_form.as_p}}

                <input class="btn btn-primary" type="submit" name="Update Information">
            </form>
        </div>
    </div>
</div> -->


{% endblock %}